* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(245, 235, 222);
    margin: 0 5% 0 5%;
    font-family: "Playfair Display", serif;
}

h1 {
    font-size: 2.3rem;
}

h2 {
    font-size: 1.7rem;
}

header {
    border-bottom: 1px solid;
    padding: 1rem 0;
    margin-bottom: 1rem;
}

header > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 4rem;
}

.small-logo {
    display: none;
}

@media only screen and (max-width: 850px) {
    .full-logo {
        display: none;
    }

    .small-logo {
        display: block;
    }

    header {
        border-bottom: 0 none;
    }
}

@media (max-width: 463px) {
}

nav {
    font-family: "Red Hat Display", sans-serif;
    padding: 0 0 1rem 0;
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    text-align: center;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

nav a {
    text-decoration: none;
    color: black;
    padding: 0.5rem 2rem;
    flex: 1 0 auto;
    border: 1px solid black;
}

nav a:hover,
a[href="index.html"]:hover {
    background-color: black;
    color: rgb(245, 235, 222);
    border-bottom-color: black;
}

nav a[href="index.html"] {
    background-color: rgb(218, 205, 191);
    /* font-weight: bold; */
    /* border-bottom-color: rgb(218, 205, 191); */
    color: black;
}

main {
    background-color: rgb(218, 205, 191);
    border: 1px solid black;
    margin-bottom: 1rem;
}

section {
    display: flex;
    padding: 1rem;
}
section article img {
    max-height: 250px;
    width: 100%;
    object-fit: cover;
}

.section1 {
    padding-bottom: 1rem;
    border-bottom: 1px solid;
}
.section2 {
    overflow-x: auto;
}

.section2 > article {
    /* max-height: 90vh; */
    min-width: 250px;
    width: auto;
    overflow: hidden;
}
article > p {
    overflow: hidden;
}

article {
    flex: 1;
    padding: 1rem;
    margin-right: 1rem;
    background-color: rgb(233, 220, 206);
    border: 1px solid rgb(233, 220, 206);
}

article:hover {
    background-color: rgb(241, 237, 229);
    border-color: black;
}

.last-article {
    margin-right: 0;
}

footer {
    display: flex;
    margin-bottom: 1rem;
}

footer div {
    flex: 1;
    padding: 1rem;
    /* border-bottom: 1px solid black; */
    border-top: 1px double black;
}

footer img {
    height: 3rem;
}

footer div.left {
    border-right: 1px solid black;
}
